work_dirs
work_dir
wandb
work_logs
show_dir
data
*.pyc
*.pt
*.xlsx
*.png
.vscode
__pycache__
*.out
CLIPSelf/checkpoints
cosmos/checkpoints
FineCLIP/checkpoints
flair/pretrained
tips/pytorch/checkpoints
**checkpoints
.idea/